<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{/layout/index :: dynamic(~{::main})}">
<main>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card acc-card">
                    <div class="card-body acc-card-body">
                        <h2 class="card-title text-center mb-4">Login</h2>
                        <form th:action="@{/security/login}" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" name="username" class="form-control" id="username"
                                       placeholder="Enter username">
                                <!--                                <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">-->
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" id="password"
                                       placeholder="Enter password">
                                <!--                                <div class="text-danger" th:if="${#fields.hasErrors('password')}"-->
                                <!--                                    th:errors="*{password}"></div>-->
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input name="remember-me" class="form-check-input" type="checkbox" value="true"
                                           id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Remember me?
                                    </label>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                            <i class="text-center text-danger" th:text="${message}"></i>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>