<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
<main class="row">
    <div th:each="p:${items}" class="col-sm-4 my-3">
        <div class="card card-primary poly-item text-center">
            <div class="card-heading">
                <div class="card-title" th:text="${p.name}"></div>
            </div>
            <div class="card-body">
                <a th:href="@{|/product/detail/${p.id}|}">
                    <img class="thumbnail-fixed" th:src="@{|/images/${p.image}|}">
                </a>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <b class="pull-left">$[[${p.price}]]</b>
                <div class="butt">
                <button class="btn btn-success" th:attr="ng-click=@{|cart.add(${p.id})|}">
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
                <button class="btn btn-danger">
                    <i class="fa-solid fa-heart"></i>
                </button>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>