<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid bg-secondary">
        <a class="navbar-brand" href="#">Icon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/product/list}">Home</a>
                </li>
                <!-- Hiển thị link đăng nhập nếu chưa đăng nhập -->
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/security/login/form}">Sign in</a>
                </li>
                <!-- Hiển thị link đăng xuất nếu đã đăng nhập -->
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/security/logoff}">Sign out</a>
                </li>
                <!-- Hiển thị link đơn hàng nếu đã đăng nhập -->
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/order/list}">Your Orders</a>
                </li>
                <!-- Hiển thị link quản trị nếu có quyền DIRE hoặc STAF -->
                <li sec:authorize="hasAuthority('DIRE') or hasAuthority('STAF')" class="nav-item">
                    <a class="nav-link" th:href="@{/admin/home/index}">Administration</a>
                </li>
            </ul>
            <!-- Hiển thị tên người dùng nếu đã đăng nhập -->
            <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
                <li>
                    <a class="nav-link" href="#">Welcome <span th:text="${#authentication.name}"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>
