<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:fragment="dynamic(main)">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Lấy icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-***********" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body class="container">
    <header class="row"></header>
    <nav class="row">
        <div th:replace="/layout/_menu.html"></div>
    </nav>
    <div class="row">
        <article class="col-sm-9">
            <div th:replace="${main}"></div>
        </article>
        <aside class="col-sm-3">
            <div th:replace="/layout/_cart-info.html"></div>
            <div th:replace="/layout/_category.html"></div>
        </aside>
    </div>
    <footer>
        <div class="ft card-default">
            <div class="row">
                <div class="ft text-center">
                    <div class="null-item"></div>
                    <h5>X Phone - Cửa hàng điện thoại, điện tử</h5>
                    <div class="null-item"></div>
                    <p>X Phone &copy; 2024. All rights reserved.</p>
                    <div class="null-item"></div>
                </div>
            </div>
    </footer>
</body>

</html>