<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/index :: dynamic(~{ :: main})}">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl" >
<main class="container mt-5">
    <div class="card card-primary" th:fragment="shopping_cart">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">SHOPPING CART</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in cart.items">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>${{item.price | number:2}}</td>
                    <td>
                        <input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number" min="1" class="form-control" />
                    </td>
                    <td>${{item.qty * item.price | number:2}}</td>
                    <td>
                        <button ng-click="cart.remove(item.id)" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash"></i> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <button ng-click="cart.clear()" class="btn btn-danger">
                <i class="fas fa-trash"></i> Clear Cart
            </button>
            <a th:href="@{/order/checkout}" class="btn btn-primary">
                <i class="fa-solid fa-check"></i> Checkout
            </a>
        </div>
    </div>
</main>
</body>
</html>
