<!--<ul class="nav nav-tabs" style="font-variant: small-caps;">-->
<!--    <li><a data-toggle="tab" data-target="#edit" href="">Product Edition</a></li>-->
<!--    <li class="active"> <a data-toggle="tab" data-target="#list" href="">List of Products</a></li>-->
<!--</ul>-->
<h1 class="text-center">PRODUCT FORM</h1>
<hr>
<div class="row">
<div class="col-sm-3">
    <div ng-include="'/admin/product/form'"></div>
</div>
<div class="col-sm-9">
    <div ng-include="'/admin/product/table'"></div>
</div>
</div>


